:root {
  --bg1: rgb(61, 200, 224);
  --bg2: rgb(187, 187, 187);
  --bg3: rgb(129, 241, 223);
  --bg4: rgb(218, 113, 113);
  --bg5: rgb(247, 244, 89);
  --bg6: rgb(78, 238, 45);
  --bg7: rgb(228, 120, 49);
}